.header-phone__number {
  @include font(500, 1.9rem, 140%);
  color: $color-text-black;
}

@media (max-width: 48em) {
  .header-phone__number {
    font-size: 2.8rem;
    text-decoration-line: underline;
    color: #0074d4;
  }
}
