.drive__img {
  min-width: 59.5rem;
  height: 57.1rem;
  margin-top: -7.1rem;
  margin-left: -4.8rem;
  z-index: -1;
}

@media (max-width: 48em) {
  .drive__img {
    min-width: 60.646rem;
    height: 58.2rem;
    margin-top: 0;
    margin-left: -1.4rem;
  }
}
