.drive__background {
  position: absolute;
  left: 49.7%;
  width: 100vw;
  height: 51.3rem;
  background: linear-gradient(270deg, rgba(248, 249, 251, 0.8) 0%, rgba(248, 249, 251, 0.24) 81.47%),
    url(../img/drive/img/background.jpg);
  background-repeat: no-repeat;
  background-size: 192rem auto;
  background-position-y: 71.5%;
  box-shadow: 0 3.6rem 8.4rem -2.4rem rgba(255, 255, 255, 0.15);
  transform: translateX(-50%) matrix(-1, 0, 0, 1, 0, 0);
}

@media (max-width: 48em) {
  .drive__background {
    background: linear-gradient(180deg, #ffffff 0%, rgba(248, 249, 251, 0.3) 100%), url(../img/drive/img/background.jpg);
    background-position-y: 80%;
    background-position-x: 60%;
    background-size: 183.6rem auto;
  }
}
