.clients__header {
  @include font(900, 4.4rem, 120%);
  text-align: center;
  margin-bottom: 1.4rem;
}

@media (max-width: 48em) {
  .clients__header {
    font-size: 5.6rem;
    margin-bottom: 5.2rem;
  }
}
